* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  scroll-behavior: smooth;
}

body {
  background-image: url(/img/wallpaper.jpg);
}

#header {
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 50px;
  position: sticky;
  top: 0;
  backdrop-filter: blur(4px);
  border-bottom: solid 2px white;
}

#header img {
  width: 100px;
}

#header li {
  list-style: none;
  display: flex;
  gap: 50px;
}

#header a {
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
}

#header a:hover {
  text-decoration: underline 3px;
}

#main {
  width: 90%;
  margin: auto;
}

input {
  padding: 25px;
  width: 90%;
  background-color: rgb(255, 255, 255);
  font-size: 2rem;
  border-radius: 20px;
  border: transparent;
  margin: 0 0 50px;
}

button {
  text-align: center;
  padding: 25px;
  background-color: rgb(255, 153, 0);
  font-size: 2rem;
  border-radius: 20px;
  border: transparent;
  text-align: center;
}

button:hover {
  text-decoration: underline 3px;
}

#titulo {
  margin: 50px auto;
  display: flex;
  justify-content: center;
  color: white;
  padding: 20px;
  background-color: black;
  width: 25%;
  border-radius: 20px;
  border: solid 2px white;
  font-size: 1.3rem;
}

#results {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: space-around;
  align-items: center;
}

.restaurant {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 500px;
  background-color: black;
  padding: 25px;
  color: white;
  border-radius: 20px;
  border: solid 2px white;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 700px;
}

.restaurant h1 {
  font-size: 2rem;
  text-decoration: underline;
  padding-bottom: 20px;
}

.restaurant a {
  text-decoration: none;
  color: white;
  background-color: rgb(189, 145, 0);
  padding: 10px;
  border-radius: 5px;
}

.restaurant a:hover {
  text-decoration: underline 2px;
}

.restaurant img {
  width: 300px;
  border: solid 2px white;
  border-radius: 10px;
}

#carta_presentacion {
  text-align: center;
  background-color: black;
  margin: 0px auto 200px;
  font-weight: 900;
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 50px;
  width: 50%;
  color: white;
  border-radius: 20px;
  border: solid 2px white;
  padding: 30px;
  line-height: 1.7rem;
}

#imagen_grupo {
  display: flex;
  justify-content: center;
  align-items: center;
}

#carta_presentacion img {
  width: 400px;
  border-radius: 20px;
  border: solid 2px white;
}